.viewport {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

.canvas {
  position: fixed;
  border: 1px solid #ccc; }

.timeline {
  background-color: #eee;
  position: absolute;
  min-width: 400px;
  min-height: 200px;
  bottom: 0;
  right: 0; }

.options {
  border: 1px solid #ccc;
  background-color: #eee; }
