.templates {
  display: none; }

.viewport {
  background-color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

.canvas {
  position: fixed;
  border: 3px solid #ccc;
  background-color: #fff; }

.menu {
  position: relative; }
  .menu .title {
    background-color: #ccc;
    font-weight: bold; }
  .menu .button {
    border: 1px solid #fff;
    position: absolute;
    cursor: pointer; }
    .menu .button:hover {
      background-color: #fff; }
  .menu .minimize {
    top: 0;
    right: 15px; }
  .menu .close {
    top: 0;
    right: 2px; }

.tray {
  position: fixed;
  bottom: 0; }

.timeline {
  background-color: #eee;
  min-width: 400px;
  min-height: 200px; }

.options {
  border: 1px solid #ccc;
  background-color: #eee; }
