.menu {
    position: relative;
    border: 1px solid #ccc;

    .title {
        background-color: #ccc;
        font-weight: bold;

        .button {
            border: 1px solid #fff;
            position: absolute;
            cursor: pointer;
            
            &:hover {
                background-color: #fff;
            }
        }

        .minimize {
            top: 0;
            right: 15px;
        }

        .close {
            top: 0;
            right: 2px;
        }
    }

    .content {
        overflow: hidden;
    }

    .resize {
        position: absolute;
        width: 1em;
        height: 1em;
        z-index: 1;
        bottom: 0;
        right: 0;
    }
}

.tray {
    position: fixed;
    bottom: 0;

    .minimized {
        display: inline-block;
        padding: 4px 8px;
        margin-right: 4px;
        background-color: #ccc;
        border: 3px solid #eee;
    }
}
