.menu {
    position: relative;

    .title {
        background-color: #ccc;
        font-weight: bold;
    }

    .button {
        border: 1px solid #fff;
        position: absolute;
        cursor: pointer;

        &:hover {
            background-color: #fff;
        }
    }

    .minimize {
        top: 0;
        right: 15px;
    }

    .close {
        top: 0;
        right: 2px;
    }
}

.tray {
    position: fixed;
    bottom: 0;

    .minimized {
        display: inline-block;
        padding: 4px 8px;
        margin-right: 4px;
        background-color: #ccc;
        border: 3px solid #eee;
    }
}
