.timeline {
    background-color: #eee;
    width: 400px;
    height: 200px;
    position: relative;

    .buttons {
        position: absolute;
        bottom: 0;

        .button {
            display: inline-block;
        }
    }

    .layer-wrap {
        position: relative;
    
        .handle {
            position: absolute;
            top: 20px;
        }
    }

    .layer {
        position: relative;
        height: 50px;
        background-color: #fff;
        border: 1px solid #ccc;
        margin-left: 1em;
    }
}
